.after, .main-delay:after, .search-nolist:before {
    display: block;
    content: ""
}

.article-des, .article-detail, .article-list, .article-list h2, .bor-bot, .main-site, .main-tag {
    border-bottom: 1px solid #eee
}

.bor-blue, .main-tag a:hover {
    color: #006cff;
    border: 1px solid #006cff;
    background: #fff
}

.container, .footer, .menu-nav, .menu-toggle span, .tra-all, a:hover {
    -webkit-transition: all .3s;
    transition: all .3s
}

.header-caption, .t-shadow {
    text-shadow: 0 0 3px rgba(0, 0, 0, .8)
}

.article-des p, .article-detail, .caption-des, .fz16, .menu-list li, .page-numbers a, .page-numbers span {
    font-size: 16px
}

.article-des, .article-source, .over-hide {
    overflow: hidden
}

.ellipsis, .menu-find .err {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

a, body, button, div, h1, h2, h3, html, img, input, li, ol, p, select, span, textarea, ul {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
    height: 100%
}

body {
    width: 100%
}

li, ol, ul {
    list-style: none
}

h1 {
    font-size: 36px;
    line-height: 1.5em;
    padding: 10px 0
}

h2 {
    font-size: 30px;
    padding: 15px 0
}

h3 {
    font-size: 24px
}

body {
    background: #fff;
    color: #555
}

body, button, input, option, select, textarea {
    font-family: arial, microsoft yahei;
    font-size: 14px
}

input::-webkit-input-placeholder {
    color: #9c9fab;
    opacity: 1
}

button {
    border: none
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #006cff
}

#root .disNone {
    display: none
}

.txtline {
    text-decoration: underline
}

.openUrl {
    cursor: pointer
}

.header {
    position: fixed;
    width: 40%;
    height: 100%;
    background-image: url(http://www.jingjingke.com/reactDemo/static/media/header.74b7d9b2.jpg)
}

.header:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #006cff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .3
}

.header-tags {
    padding: 0 40px
}

.header-tags a {
    display: inline-block;
    color: #fff;
    padding: 0 3px;
    margin: 3px;
    line-height: 2;
    text-align: justify;
    word-break: keep-all
}

.header-caption {
    padding: 70px 90px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    top: 20%
}

.footer {
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    background: #000;
    width: 56%;
    padding: 28px 2%;
    line-height: 1.6
}

.footer .link {
    color: #aaa
}

.footer .link:hover {
    color: #fff
}

.foot-copy .link {
    float: right
}

.foot-demo .link {
    padding: 0 5px
}

.main {
    position: relative;
    top: 0;
    left: 40%;
    width: 60%;
    background: #fff;
    overflow-y: auto
}

.page-numbers {
    position: relative;
    padding: 24px 80px;
    min-height: 38px;
    text-align: center
}

.page-numbers a, .page-numbers span {
    display: inline-block;
    margin: 3px;
    min-width: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #e8e8e8
}

.page-numbers a:hover, .page-numbers span:hover {
    color: #333;
    background: #e6e6e6;
    border-color: #adadad;
    cursor: pointer
}

.page-numbers .current {
    background-color: #f1f1f1;
    border-color: #f1f1f1
}

.page-numbers .next, .page-numbers .prev {
    position: absolute;
    top: 27px;
    margin: 0;
    font-family: "sans-serif";
    font-weight: 700;
    color: #999
}

.page-numbers .next:before, .page-numbers .prev:before {
    font-family: iconfont
}

.page-numbers .prev {
    left: 28px
}

.page-numbers .prev:before {
    content: "\E603"
}

.page-numbers .next {
    right: 28px
}

.page-numbers .next:before {
    content: "\E604"
}

.main-site, .main-tag {
    padding: 15px 28px 20px;
    line-height: 2;
    overflow: hidden
}

.main-site a, .main-site span, .main-tag a, .main-tag span {
    display: inline-block;
    padding: 0 10px
}

.main-site .main-site-back, .main-tag .main-site-back {
    float: right;
    cursor: pointer
}

.main-tag a, .main-tag span {
    margin: 5px 5px 0 0
}

.main-tag span {
    background: #000;
    color: #fff
}

.main-tag a {
    border: 1px solid #e8e8e8;
    opacity: .8
}

.main-tag a:hover {
    opacity: 1
}

.search-nolist {
    text-align: center;
    padding: 150px 0 300px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2em
}

.search-nolist:before {
    width: 320px;
    height: 200px;
    margin: 0 auto 20px;
    background: url(http://www.jingjingke.com/reactDemo/static/media/search.67cc6a2e.png) no-repeat;
    background-size: 100%
}

.main-delay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99
}

.main-delay i {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    background: url(http://www.jingjingke.com/reactDemo/static/media/delay.7773028f.gif) no-repeat;
    background-size: 100%;
    text-indent: -999em
}

.main-delay:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, .8)
}

.article-list {
    padding: 100px 120px 120px
}

.article-list li {
    margin-top: 100px
}

.article-list li:first-child {
    margin-top: 0
}

.article-des {
    padding: 20px 0
}

.article-des img {
    float: right;
    width: 240px;
    margin-left: 20px
}

.article-des p {
    line-height: 1.8em
}

.article-source {
    padding: 15px 0
}

.article-source-info {
    color: #aaa
}

.article-source-info a {
    font-weight: 700;
    color: #999
}

.article-source-info a:hover {
    color: #666
}

.article-more {
    float: right;
    color: #006cff;
    opacity: .5
}

.article-more:hover {
    opacity: 1
}

.article-detail {
    padding: 100px 120px 120px
}

.article-detail p {
    padding-top: 20px;
    line-height: 2em
}

.article-detail .center {
    text-align: center;
    display: block;
    margin: 0 auto
}

.article-detail a {
    color: #6bd
}

.article-detail a:hover {
    text-decoration: underline;
    color: #006cff
}

.article-detail .blue {
    color: #006cff
}

.article-detail .red {
    color: #c00
}

.article-detail pre {
    margin: .8em 0;
    padding: 10px 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
    color: #666
}

.article-detail code {
    display: inline-block;
    word-break: keep-all;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    color: #ec7729;
    padding: 0 10px;
    margin: 0 5px;
    font-family: arial
}

.article-detail table {
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background: #fafafa;
    width: 100%;
    font-size: 12px;
    color: #777;
    line-height: 28px;
    margin: 10px 0 0
}

.article-detail td, .article-detail th {
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 8px
}

.sohucy {
    position: relative;
    z-index: 1;
    padding-top: 1rem
}

.menu-toggle {
    position: absolute;
    z-index: 3;
    width: 22px;
    padding: 18px;
    overflow: hidden
}

.menu-toggle span {
    display: block;
    height: 3px;
    background: #fff
}

.menu-toggle .three, .menu-toggle .two {
    margin-top: 5px
}

.menu-back {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    overflow: hidden
}

.menu-back:before {
    display: block;
    font-family: iconfont;
    content: "\E600";
    color: #fff;
    width: inherit;
    text-align: center;
    line-height: inherit;
    font-size: 32px
}

.menu-site {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 2;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    white-space: nowrap
}

.menu-site a {
    padding: 0 6px
}

.menu-site a, .menu-site a:hover {
    color: #fff
}

.menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px;
    color: #fff
}

.menu-footer .foot-right {
    text-indent: 10px;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
    opacity: .5
}

.menu-foot-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5
}

.menu-foot-icon a {
    float: right;
    margin-right: 5px;
    display: inline;
    width: 32px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: .8
}

.menu-foot-icon a:hover {
    opacity: 1
}

.menu-foot-icon a:before {
    color: #fff;
    font-family: iconfont;
    width: inherit;
    line-height: inherit;
    font-size: 28px
}

.menu-foot-icon a.git:before {
    content: "\E602"
}

.menu-foot-icon a.site:before {
    content: "\E601"
}

.container {
    position: relative;
    left: 0;
    width: 100%
}

.menu-nav {
    background-color: #222;
    width: 180px;
    height: 100%;
    padding: 0 30px;
    overflow: auto;
    position: fixed;
    left: -240px;
    top: 0
}

.App, .menu-open {
    width: 100%;
    overflow: hidden
}

.menu-open .menu-toggle .two {
    background: none
}

.menu-open .menu-toggle .one {
    -webkit-transform: rotate(45deg) translateY(11px);
    -ms-transform: rotate(45deg) translateY(11px);
    transform: rotate(45deg) translateY(11px)
}

.menu-open .menu-toggle .three {
    -webkit-transform: rotate(-45deg) translateY(-11px);
    -ms-transform: rotate(-45deg) translateY(-11px);
    transform: rotate(-45deg) translateY(-11px)
}

.menu-open .container {
    left: 240px
}

.menu-open .menu-nav {
    left: 0
}

.menu-open .footer {
    right: -240px
}

.menu-find {
    position: relative;
    margin-top: 20px
}

.menu-find input {
    height: 18px;
    line-height: 18px;
    padding: 8px 35% 8px 3%;
    border: 0;
    width: 62%
}

.menu-find button {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    padding: 0 15px;
    background: #006cff;
    color: #fff
}

.menu-find .err {
    color: #ff0;
    line-height: 2em;
    height: 2em
}

.menu-avatar {
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
    border-radius: 60px;
    overflow: hidden
}

.menu-avatar img {
    width: 100%
}

.menu-list {
    margin-top: 40px;
    border-top: 1px solid #444
}

.menu-list li {
    border-bottom: 1px solid #444;
    line-height: 2.5em
}

.menu-list a {
    color: #999;
    display: block;
    text-indent: 1em
}

.menu-list a:hover {
    font-weight: 700;
    color: #fff;
    background: #000
}

.menu-code {
    margin-top: 20px;
    color: #999;
    line-height: 1.5
}

.menu-code img {
    margin-top: 10px;
    width: 100%
}

@media only screen and (min-width: 750px) {
    html {
        font-size: 75px
    }
}

@media only screen and (min-width: 740px) and (max-width: 750px) {
    html {
        font-size: 75px
    }
}

@media only screen and (min-width: 730px) and (max-width: 740px) {
    html {
        font-size: 74px
    }
}

@media only screen and (min-width: 720px) and (max-width: 730px) {
    html {
        font-size: 73px
    }
}

@media only screen and (min-width: 710px) and (max-width: 720px) {
    html {
        font-size: 72px
    }
}

@media only screen and (min-width: 700px) and (max-width: 710px) {
    html {
        font-size: 71px
    }
}

@media only screen and (min-width: 690px) and (max-width: 700px) {
    html {
        font-size: 70px
    }
}

@media only screen and (min-width: 680px) and (max-width: 690px) {
    html {
        font-size: 69px
    }
}

@media only screen and (min-width: 670px) and (max-width: 680px) {
    html {
        font-size: 68px
    }
}

@media only screen and (min-width: 660px) and (max-width: 670px) {
    html {
        font-size: 67px
    }
}

@media only screen and (min-width: 650px) and (max-width: 660px) {
    html {
        font-size: 66px
    }
}

@media only screen and (min-width: 640px) and (max-width: 650px) {
    html {
        font-size: 65px
    }
}

@media only screen and (min-width: 630px) and (max-width: 640px) {
    html {
        font-size: 64px
    }
}

@media only screen and (min-width: 620px) and (max-width: 630px) {
    html {
        font-size: 63px
    }
}

@media only screen and (min-width: 610px) and (max-width: 620px) {
    html {
        font-size: 62px
    }
}

@media only screen and (min-width: 600px) and (max-width: 610px) {
    html {
        font-size: 61px
    }
}

@media only screen and (min-width: 590px) and (max-width: 600px) {
    html {
        font-size: 60px
    }
}

@media only screen and (min-width: 580px) and (max-width: 590px) {
    html {
        font-size: 59px
    }
}

@media only screen and (min-width: 570px) and (max-width: 580px) {
    html {
        font-size: 58px
    }
}

@media only screen and (min-width: 560px) and (max-width: 570px) {
    html {
        font-size: 57px
    }
}

@media only screen and (min-width: 550px) and (max-width: 560px) {
    html {
        font-size: 56px
    }
}

@media only screen and (min-width: 540px) and (max-width: 550px) {
    html {
        font-size: 55px
    }
}

@media only screen and (min-width: 530px) and (max-width: 540px) {
    html {
        font-size: 54px
    }
}

@media only screen and (min-width: 520px) and (max-width: 530px) {
    html {
        font-size: 53px
    }
}

@media only screen and (min-width: 510px) and (max-width: 520px) {
    html {
        font-size: 52px
    }
}

@media only screen and (min-width: 500px) and (max-width: 510px) {
    html {
        font-size: 51px
    }
}

@media only screen and (min-width: 490px) and (max-width: 500px) {
    html {
        font-size: 50px
    }
}

@media only screen and (min-width: 480px) and (max-width: 490px) {
    html {
        font-size: 49px
    }
}

@media only screen and (min-width: 470px) and (max-width: 480px) {
    html {
        font-size: 48px
    }
}

@media only screen and (min-width: 460px) and (max-width: 470px) {
    html {
        font-size: 47px
    }
}

@media only screen and (min-width: 450px) and (max-width: 460px) {
    html {
        font-size: 46px
    }
}

@media only screen and (min-width: 440px) and (max-width: 450px) {
    html {
        font-size: 45px
    }
}

@media only screen and (min-width: 430px) and (max-width: 440px) {
    html {
        font-size: 44px
    }
}

@media only screen and (min-width: 420px) and (max-width: 430px) {
    html {
        font-size: 43px
    }
}

@media only screen and (min-width: 410px) and (max-width: 420px) {
    html {
        font-size: 42px
    }
}

@media only screen and (min-width: 400px) and (max-width: 410px) {
    html {
        font-size: 41px
    }
}

@media only screen and (min-width: 390px) and (max-width: 400px) {
    html {
        font-size: 40px
    }
}

@media only screen and (min-width: 380px) and (max-width: 390px) {
    html {
        font-size: 39px
    }
}

@media only screen and (min-width: 370px) and (max-width: 380px) {
    html {
        font-size: 38px
    }
}

@media only screen and (min-width: 360px) and (max-width: 370px) {
    html {
        font-size: 37px
    }
}

@media only screen and (min-width: 350px) and (max-width: 360px) {
    html {
        font-size: 36px
    }
}

@media only screen and (min-width: 340px) and (max-width: 350px) {
    html {
        font-size: 35px
    }
}

@media only screen and (min-width: 330px) and (max-width: 340px) {
    html {
        font-size: 34px
    }
}

@media only screen and (min-width: 320px) and (max-width: 330px) {
    html {
        font-size: 33px
    }
}

@media only screen and (min-width: 310px) and (max-width: 320px) {
    html {
        font-size: 32px
    }
}

@media only screen and (min-width: 300px) and (max-width: 310px) {
    html {
        font-size: 31px
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 30px
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    .article-list {
        padding-left: 80px;
        padding-right: 80px
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .article-list {
        padding-left: 60px;
        padding-right: 60px
    }

    .article-list h2 {
        border-bottom: none
    }

    .article-des img {
        float: none;
        margin: 0;
        width: 100%
    }

    .article-des p {
        padding-top: .2666666667rem
    }

    .article-detail img {
        width: 100%
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        overflow-y: auto
    }

    .header {
        position: relative;
        width: 100%;
        height: auto
    }

    .header-caption {
        padding: 1.3333333333rem 1.2rem 1.6rem
    }

    .header-caption h1 {
        font-size: .64rem
    }

    .header-tags {
        font-size: .32rem
    }

    .header-tags a {
        border: 1px solid #ccc;
        padding: .08rem .2133333333rem
    }

    .caption-des {
        font-size: .3733333333rem
    }

    .menu-site {
        line-height: .72rem
    }

    .menu-toggle {
        padding: .2666666667rem
    }

    .menu-toggle span {
        height: 2px
    }

    .menu-toggle .three, .menu-toggle .two {
        margin-top: 4px
    }

    .menu-open .menu-toggle .one {
        -webkit-transform: rotate(45deg) translateY(8px);
        -ms-transform: rotate(45deg) translateY(8px);
        transform: rotate(45deg) translateY(8px)
    }

    .menu-open .menu-toggle .three {
        -webkit-transform: rotate(-45deg) translateY(-8px);
        -ms-transform: rotate(-45deg) translateY(-8px);
        transform: rotate(-45deg) translateY(-8px)
    }

    .menu-back {
        width: .7333333333rem;
        height: .7333333333rem;
        line-height: .7333333333rem
    }

    .menu-back:before {
        font-size: .4266666667rem
    }

    .main {
        width: 100%;
        left: 0
    }

    .main:after {
        display: none
    }

    .main-site, .main-tag {
        padding: .2666666667rem .4rem .4rem;
        font-size: .32rem;
        padding: .2666666667rem .4rem
    }

    .search-nolist {
        font-size: .32rem
    }

    .article-list {
        padding: 1.0666666667rem
    }

    .article-list li {
        margin-top: .8rem
    }

    .article-list h2 {
        font-size: .3733333333rem
    }

    .article-des p {
        font-size: .32rem;
        color: #666
    }

    .article-des img {
        float: left;
        margin: 0;
        margin-right: .32rem;
        width: 4rem
    }

    .article-source {
        font-size: .3466666667rem
    }

    .page-numbers {
        padding: .3733333333rem;
        min-height: .5066666667rem
    }

    .page-numbers a, .page-numbers span {
        width: .5066666667rem;
        min-height: .5066666667rem
    }

    .page-numbers .next, .page-numbers .prev {
        display: none
    }

    .article-detail {
        padding: 1.0666666667rem
    }

    .article-detail img {
        width: 100%
    }

    .footer {
        position: static;
        font-size: .32rem;
        width: 94%;
        padding: .3733333333rem 3%;
        -webkit-transition: none;
        transition: none;
        right: -240px
    }
}

@media only screen and (max-width: 750px) {
    .menu-back {
        width: 36px;
        height: 36px;
        line-height: 36px
    }

    .menu-back:before {
        font-size: 28px
    }

    .menu-site {
        padding: 6px 0;
        line-height: .56rem
    }

    .search-nolist {
        padding: 2.2rem 0 4.2666666667rem;
        font-size: .3733333333rem
    }

    .search-nolist:before {
        width: 4.2666666667rem;
        height: 2.6666666667rem
    }

    .article-list h2 {
        border-bottom: none;
        padding: 0
    }

    .article-des img {
        float: none;
        margin: 0;
        width: 100%
    }

    .article-des p {
        padding-top: .2666666667rem
    }

    .article-detail {
        padding: .5333333333rem .5333333333rem .8rem
    }
}

@font-face {
    font-family: iconfont;
    src: url("//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.eot");
    src: url("//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.woff") format("woff"), url("//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_530150_iikqjak2urtfbt9.svg#iconfont") format("svg")
}