body{
    overflow-x:hidden;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}/*需要清除浮动的添加此类*/

ul{
    margin: 0;
}

header{
    background: rgba(0,0,0,0.4);
}

nav{
    background-color: #2d2d29;
    height: 50px;
    position:fixed;
    width: 100%;
    z-index: 999;
}
#banner{
    background: transparent;
    height: 700px;
    /*padding-top: 50px;*/
}

.article #banner{
    /*margin-top: 50px;*/

    height: 300px;
}

nav ul{
    list-style: none;
    margin: 0;
    float: right;
    line-height: inherit;
}

nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a{
    line-height: inherit;
    text-decoration:none;
    display: inline-block;
    height: inherit;/*继承母元素的高度*/
    color: #fff;
    font-weight: 700;
}


.menu-toggle {
    line-height: 50px;
    width: 22px;
}
/*右上角的三道横杠*/
.menu-toggle .one{
    display: block;
    height: 3px;
    background: #fff;
    transition: all .3s;
}
.menu-toggle .two {
    display: block;
    height: 3px;
    background: #fff;
    transition: all .3s;
    margin-top: 4px;
}
.menu-toggle .three {
    display: block;
    height: 3px;
    background: #fff;
    transition: all .3s;
    margin-top: 4px;
}
/*.menu-toggle hover时的内容*/
.menu-toggle:hover .one{
    transition: all .3s;
    -webkit-transform: rotate(45deg) translateY(10px);
    -ms-transform: rotate(45deg) translateY(10px);
    transform: rotate(45deg) translateY(10px)
}

.menu-toggle:hover .two{
    background: none;
}

.menu-toggle:hover .three{
    transition: all .3s;
    -webkit-transform: rotate(-45deg) translateY(-10px);
    -ms-transform: rotate(-45deg) translateY(-10px);
    transform: rotate(-45deg) translateY(-10px);
}



/*侧栏中的内容排布*/
.menu-nav{
    width: 250px;
    margin: 40px auto 0;
}
.menu-avatar {
    width: 120px;
    height: 120px;
    margin: 5px auto 10px;
    border-radius: 60px;
    overflow: hidden;
}
.menu-avatar img {
    width: 100%;
}
.menu-list {

    margin-top: 60px;
    border-top: 1px solid #444;
}
.menu-list li {
    border-bottom: 1px solid #444;
    line-height: 20px;
}
.menu-code {
    margin-top: 20px;
    color: #999;
    line-height: 1.5;
}

.menu-code img {
    display: inline-block;
    margin: 10px 0 0 45px;
    width: 60%;
}






nav .logo{
    float: left;
    padding-left: 20px;
    height: 100%;

    line-height: 50px;
}


nav .logo img{
    float: left;
    padding-right: 20px;
    margin: 5px 0 0 5px;
    display: block;
    height: 80%;
}

/*.active{*/
    /*border-bottom:4px solid #fff;*/

/*}*/



#banner .inner{
    max-width: 350px;
    text-align: center;
    margin:0 auto;
    position: relative;
    top: 160px;

}


.article #banner .inner{
    top:30px;
}


h1{
    margin: 0;
    padding: 20px;
    border-top: 2px solid white;
    border-bottom:2px solid white;
    color: white;

}

.article h1{
    border:none;
}

button{
    background-color: #338FCC;
    border:none;
    color: #eee;
    font-size: 20px;

}

#banner button{
    padding:20px 30px;
}

/*#banner .inner p{*/
    /*color: #fff;*/
/*}*/
#banner .inner .more{
    margin-top: 200px;
    font-size: 18px;
    font-weight: 600;
}

.sub-heading, .sub-heading2{
    line-height:30px;
    display: block;
    margin: 30px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;


}
.logo a{
    color: #fff;
    text-decoration: none;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;

}

#main-btn{
    padding:14px 28px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 6px;
    background: #1188aa;
}
.green-section{
    text-align: center;
    background-color: #089080;
    color: #fff;
    padding:60px 0;

}
.wrapper{
    max-width: 1080px;
    margin:0 auto;
}

.green-section .hr{
    background: #28597a;
    width: 60%;
}
.icon-group{
    margin-top: 60px;
    line-height: 30px;
}



.green-section .icon-group .icon {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #39c5d7;
    /*transform: rotate(45deg);*/
    margin: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: cadetblue;
}
.green-section .icon-group .icon:hover{
    background-color: #ddad40;
    transition: all 0.5s;

}
    /*二-灰色章节*/

.gray-section{
    background: #252f34;
    color: #fff;

}

.gray-section .img-section{
    width: 45%;
}

.img-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 55%;
}

.article-preview:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

.article-preview:after{
    content: '';
    display: block;
    clear: both;
}/*这一步的原理多想想*/

.article-preview > div{
    float: left;
}

.text-section{
    position:relative;
    top: 50px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 20px;
}

.text-section .sub-heading{
    font-size: 18px;
    color: cyan;
    margin: 0;
    padding:15px 0 10px 0;
}

.text-section p{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.4;
}

.text-section > *{
    max-width: 90%;
}/*防止文字溢出*/

.article-preview{
    font-size:0;
}/*复制article-preview后上下有缝隙，需要重置font-size为0*/



/*放大缩小动画*/
.skill{
    height: 650px;
    background: linear-gradient(to bottom, #6f7275 0%, #31353a 100%);
    overflow: hidden;
}

.skill article{
    width: 1000px;
    margin:75px auto 0;
}

.img-scale{
     float:left;
     height: 200px;
     width: 200px;
     margin: 25px;
     opacity: 1;
     /*background: url("../img/跳一跳.jpg");*/
     background-size:200px 200px;
    font-size:10px;
 }
.img-scale p{
    font-size:10px;
}

/*放大缩小 第一列*/

.img-scale:nth-child(1){
    background: url("../img/website.jpg");

    background-size:200px 200px;
    color: #0100ff;
}
.img-scale:nth-child(2){
    background: url("../img/简历.jpg");

    background-size:200px 200px;
    color: #0100ff;
}
.img-scale:nth-child(3){
    background: url("../img/跳一跳.jpg");

    background-size:200px 200px;
    color: #0100ff;
}
.img-scale:nth-child(4){
    background: url("../img/vue.jpg");

    background-size:200px 200px;
    color: #0100ff;
}
/*放大缩小 第二列*/

article:nth-child(2) .img-scale:nth-child(1){
    background: url("../img/全屏滚动插件.jpg");
    background-size:200px 200px;
}
article:nth-child(2) .img-scale:nth-child(2){
    background: url("../img/nubiya.jpg");
    background-size:200px 200px;
}
article:nth-child(2) .img-scale:nth-child(3){
    background: url("../img/smartisan.jpg");
    background-size:200px 200px;
}
article:nth-child(2) .img-scale:nth-child(4){
    background: url("../img/ps.jpg");
    background-size:200px 200px;
}





.img-scale .video_info{
    height: 100%;
    color: white;
    text-align: center;
    background-color:RGbA(0,0,0,0.65);
    background-size:300px;
    opacity: 0 ;
    overflow: hidden;
}

.skill .img-scale:hover{
    transition: all 1s;
    transform: scale(1.46);
}

.skill .img-scale:hover .video_info{
    transition: all 1s;
    opacity: 1;
}

.skill .img-scale:hover .video_info h4{
    transition: all 1s;
    margin-top: 40px;
}

.video_info span{
    padding: 10px 13px;
}

/*三-紫色章节*/
.purple-section{
    padding: 80px;
    background: #3F3965;
    color: #fffcef;
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background: #373259;
    width:60%;
}

.card-group{
    padding: 0 6% 0 6%;
}

.card{
    float: left;
    width: 50%;
    height: 450px;
    padding: 20px 20px;
    box-sizing:border-box;
    border: 1px solid white;
    color: whitesmoke;
}
.card:nth-child(5){
    height: 480px;
}
.card:nth-child(6){
    height: 480px;
}





.card h3{
    padding-bottom: 10px;
    /*color: #7efcfc;*/
    color: #63cba8;

}
.card h3 span{
    font-size: 22px;
    color: #fffcef;
}

.card div{
    position: relative;
    width: 400px;
    height: 293px;

}

.card img{
    position: absolute;
    /*width: 300px;*/
    /*height: 400px;*/
    top: 50%;
    left: 50%;

    margin-top: -145px;
    margin-left: -160px;

    padding-top: 20px;;

}

.card p{
    font-size:16px;
    text-space: 2px;
}




p{
    font-size:18px;
    letter-spacing:1px;
}

.card:first-child{
    background: rgba(0,0,0,0.08);
}

.card:nth-child(2){
    background: rgba(0,0,0,0.16);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.24);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.32);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.40);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.48);
}

footer{
    background: #333333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}

ul.share-group{
    display: block;
    width:1080px;
    margin:0 auto;
    padding: 30px;
    height:100%;

}

.share-group li{
    display: inline-block;
    padding: 10px;
}

.copy{
    padding-bottom: 20px;
    font-size: 22px;
}

.main-wrapper{
    background: #444 url("../photowall/images/fulls/01.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    overflow: hidden;
    margin: 0 auto;
}

.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

#sidebar{
    /*display: none;*/
    position: fixed;
    /*margin-top: 50px;*/
    top:0;
    width: 300px;
    background-color: #333;
    color: #fff;
    right: -300px;
    bottom:0;
    padding:20px 0;
    transition:right 0.5s;

}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar a{
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 100%;

}

#sidebar a:hover{
    background: #444;
}

.back-to-top{
    background-color: rgb(35,79,102);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border:1px solid gray;
    height: 70px;
    width: 105px;
}

.back-to-top:hover{
    background: url("../img/rocket2.gif" );
    /*background-repeat: repeat-x;*/
    background-size:contain ;
}
.back-to-top:hover a{
    font-size: 0;
}





article{
    line-height:2;
    padding:10px 0;
}

.article_info{
    font-size: 14px;
    color: #999;
    line-height: 3;
}

.iconfont {
    font-size: 29px !important;
}
.iconfont:hover{
    transition: all 1s;
    animation: sport 2s .5s ease-in-out infinite;
    color: red;
}
.share-group li:hover{
    animation: sport 2s .5s ease-in-out infinite;
}

@keyframes sport {
    20%{  transform: scale(.8);}
    40%{  transform: scale(1.2);}
    60%{  transform: scale(.9);}
    80%{  transform: scale(1);}
    100%{  transform: scale(1);}
}

.share-group-p{
    padding-bottom: 30px;
    font-size: 14px !important;

}

.share-group-p .iconfont{
    font-size: 18px !important;

}

