@font-face {
  font-family: "iconfont"; /* Project id 673747 */
  src: url('iconfont.woff2?t=1635068884138') format('woff2'),
       url('iconfont.woff?t=1635068884138') format('woff'),
       url('iconfont.ttf?t=1635068884138') format('truetype');
}
.iconfont {
  margin-right: 8px;
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-text-stroke-width: .2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.icon-banshou:before { content: "\e65c";
  /*font-size: 28px;*/
  /*content: '\e60d';*/
  font-family: 'iconfont' !important;
  font-style: normal;
  /*padding-right: 3px;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333; }

.icon-rocket:before {
  content: "\e759";
  font-size: 28px;
  /*content: '\e60b';*/
  font-family: 'iconfont' !important;
  font-style: normal;
  /*padding-right: 3px;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  /*font-size: 24px;*/
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333;
}
.icon-dengpao:before { content: "\e67d";
  font-family: 'iconfont' !important;
  font-style: normal;
  /*padding-right: 3px;*/
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: .2px;*/
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  /*margin-left: 3px;*/
  margin-left: -20px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: teal;
}
.icon-small-dengpao:before { content: "\e67d";
  font-family: "iconfont";
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bushudanyuan:before { content: "\e732";
  font-size: 22px;
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: .2px;*/
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  margin-left: -22px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: teal;}

.icon-xingxing:before { content: "\e608";
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333; }

.icon-wo:before { content: "\e7ab";
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #333;
}

.icon-banshou_Line:before { content: "\e64e";
  font-family: 'iconfont' !important;
  font-style: normal;
  /*padding-right: 3px;*/
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: .2px;*/
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 26px;
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  /*margin-left: 3px;*/
  margin-left: -20px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: teal;}

.icon-chilun1:before { content: "\e6ab";
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333;
}

.icon-xingxing1:before { content: "\e654";
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333;}


  .icon-education-1-copy:before {
    content: "\e614";
    
  }
  
  .icon-mochouLOGO:before {
    content: "\e601";
  }
  
  .icon-sousuo:before {
    content: "\e687";
  }
  
  .icon-QQyouxiang:before {
    content: "\e615";
  }
  
  .icon-gmail:before {
    content: "\e664";
  }
  
  .icon-tuitetwitter43:before {
    content: "\e60c";
  }
  
  .icon-quora:before {
    content: "\e69b";
  }
  
  .icon-ins:before {
    content: "\e62c";
  }
  
  .icon-facebook-copy:before {
    content: "\e6f8";
  }
  
  .icon-qq0:before {
    content: "\e6a1";
  }
  
  .icon-sina:before {
    content: "\e6a4";
  }
  
  .icon-weixin0:before {
    content: "\e6b2";
  }
  
  .icon-facebook0:before {
    content: "\e68a";
  }
  
  .icon-chilun1:before {
    content: "\e60a";
  }
  
  .icon-shang:before {
    content: "\e600";
  }
  
  .icon-xingxing:before {
    content: "\e608";
  }
  
  .icon-xingxing1:before {
    content: "\e654";
  }
  
  .icon-shouji-copy:before {
    content: "\e630";
  }
  
  .icon-renyuanjieshao:before {
    content: "\e62b";
  }
  
  .icon-msnui-code:before {
    content: "\e665";
  }
  
  .icon-share_link:before {
    content: "\e60e";
  }
  
  .icon-banshou:before {
    content: "\e65c";
  }
  
  .icon-xiangmushenbao:before {
    content: "\e6a6";
  }
  
  .icon-dengpao:before {
    content: "\e67d";
  }
  
  .icon-banshou_Line:before {
    content: "\e64e";
  }
  
  .icon-lianjie-tianchong:before {
    content: "\e658";
  }
  
  .icon-wo:before {
    content: "\e7ab";
  }
  
  .icon-githublogo:before {
    content: "\e607";
  }
  
  .icon-zhihu:before {
    content: "\e6ba";
  }
  
  .icon-youjian1:before {
    content: "\e606";
  }
  
  .icon-web-copy:before {
    content: "\e75a";
  }
  
  .icon-bushudanyuan:before {
    content: "\e732";
  }
  
  .icon-rocket:before {
    content: "\e759";
  }
  
  