/*顶部区域*/
.top{
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.top .top_in{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    /*background-color: yellow;*/
}
/*顶部区域-左边*/
.top .top_left{
    float: left;
    height: 100%;
    width: 190px;
    /*background-color: pink;*/
}
.top .top_left>h1{
    width: 100%;
    height: 100%;
}
.top .top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-logo.png");
}
/*顶部区域-右边*/
.top .top_right{
    float: right;
    height: 100%;
    width: 740px;
    /*background-color: pink;*/
}
.top .top_nav{
    float: left;
    width: 550px;
    height: 100%;
    /*background-color: skyblue;*/
}
.top .top_nav>li{
    float: left;
}
.top .top_nav>li>a{
    font-size: 16px;
    font-weight:bold;
    color: #fff;
    line-height: 60px;
    margin-left: 40px;
}
.top ul>li>a:hover{
    color: #e82c07;
}
.top .top_login{
    float: right;
    width: 150px;
    height: 100%;
    /*background-color: skyblue;*/
}
.top .top_login>li{
    float: right;
    line-height: 60px;
    margin-left: 10px;
}
.top .top_login>li:nth-child(3){
    width: 30px;
    height: 30px;
    background: url("../images/nubia-syb-all.png");
    margin-top: 15px;
}
.top .top_login>li>a{
    color: #ccc;
}

/*广告区域*/
.banner{
    height: 860px;
    width: 100%;
}
.banner .nav_out{
    width: 100%;
    height: 121px;
    position: absolute;
    z-index: 998;
    background: white;
    padding-top: 60px;
}
.banner .nav{
    width: 1200px;
    height: 121px;
    margin: 0 auto;
}
.banner .nav>ul{
    width: 100%;
    height: 100%;
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
}
.banner .nav>ul>li{
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
}
.banner .nav>ul>li:hover{
    border-bottom: 2px solid red;
    box-sizing: border-box;
}
.banner .nav>ul>li img{
    width: 120px;
    height: 80px;
    margin-top: 15px;
}
.banner .nav>ul>li p{
    color: #666;
}
.banner .figure{
    width: 100%;
    height: 600px;
    background: red;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .figure>img{
    height: 100%;
    /*margin: 0 auto;*/
    margin: 0 -100%;
}
.banner .figure>ol{
    width: 150px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 10px;
}
.banner .figure>ol>li{
    float: left;
    width: 8px;
    height: 8px;
    background: #ccc;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid transparent;/*透明色*/
    transition: all 1s;
}
.banner .figure>ol>li:hover{
    border: 2px solid red;
    background: transparent;
    transform: scale(1.2, 1.2);
}
.banner .video{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
}
.banner .video>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.banner .video>ul>li{
    float: left;
    width: 396px;
    height: 250px;
    background: black;
    /*margin-right: 3px;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .video>ul>li>img{
    height: 100%;
    margin: 0 -100%;
}
.banner .video .video_info{
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: 0;
    opacity: 0;/*作用: 设置元素的透明度, 特点:子元素也会跟着透明*/
}
.banner .video .video_info>h3{
    font-size: 16px;
    color: white;
    line-height: 40px;
}
.banner .video .video_info>p{
    color: white;
}
.banner .video>ul>li:hover .video_info{
    opacity: 1;
}
.banner .video>ul>li:hover>img{
    opacity: 0.5;
}
.banner .video>ul>li:hover .video_info>img{
    animation: sport 2s .5s ease-in-out infinite;
}
@keyframes sport {
    20%{  transform: scale(.8);}
    40%{  transform: scale(1.2);}
    60%{  transform: scale(.9);}
    80%{  transform: scale(1);}
    100%{  transform: scale(1);}
}

/*内容区域*/
.content{
    height: 1883px;
    width: 100%;
}
.content>dl{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.content>dl>dt{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.content>dl>dt>h3{
    font-size: 35px;
    color: #333;
}
.content>dl>dt>p{
    margin-top: 20px;
    color: #e8340e;
}
.content .content_phone{
    width: 1200px;
    height: 1200px;
}
.content .content_phone>li{
    float: left;
    background: white;
    position: relative;
    overflow: hidden;
}
.content .content_phone>li:nth-child(1){
    width: 1200px;
    height: 395px;
    margin-bottom: 10px;
}
.content .content_phone>li:nth-child(2){
    width: 395px;
    height: 795px;
    margin-right: 10px;
}
.content .content_phone>li:nth-child(3){
    width: 795px;
    height: 390px;
    margin-bottom: 10px;
}
.content .content_phone>li:nth-child(4){
    width: 390px;
    height: 395px;
    margin-right: 10px;
}
.content .content_phone>li:nth-child(5){
    width: 395px;
    height: 395px;
}
.content .content_phone>li>img{
    width: 100%;
    transition: all 1s;
}
.content .content_phone>li:nth-child(1)>img{
    margin-top: 60px;
}
.content .content_phone .phone_des{
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    text-align: center;
}
.content .content_phone .phone_des>h4{
    font-size: 20px;
    color: #000;
}
.content .content_phone .phone_des>p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
}
.content .content_phone .phone_des>span{
    display: inline-block;
    width: 108px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000;
}
.content .content_phone>li:nth-child(1) .phone_des{
    left: 0%;
    margin-left: 800px;
    bottom: 150px;
}
.content .content_phone>li:nth-child(1) img{
    margin-left: -100px;
}
.content .content_phone>li:nth-child(3) img{
    margin-left: 100px;
}
.content .content_phone>li:nth-child(1):hover img{
    margin-left: 0;
}
.content .content_phone>li:nth-child(3):hover img{
    margin-left: 0;
}
.content .content_phone>li:hover .img_scale{
    transform: scale(1.2, 1.2);
}
.content .content_accessories{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.content .content_accessories>li{
    float: left;
    width: 295px;
    height: 300px;
    background: white;
    /*margin-right: 5px;*/
    overflow: hidden;
}
.content .content_accessories>li>img{
    width: 100%;
    transition: all 0.5s;
}
.content .content_accessories>li>p{
    text-align: center;
    margin-top: 25px;
}
.content .content_accessories>li:hover img{
    transform: scale(1.2, 1.2);
}
/*底部区域*/
.footer{
    height: 396px;
    width: 100%;
    /*background-color: yellow;*/
}
.footer .footer_in{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.footer .footer_top{
    margin-top: 40px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    /*background-color: green;*/
}
.footer .footer_center{
    overflow: hidden;
    margin-bottom: 20px;
    /*background-color: yellow;*/
}
.footer .footer_center>dl{
    float: left;
    width: 200px;
}
.footer .footer_center>dl>dt{
    color: #000;
    font-size: 14px;
    line-height: 30px;
}
.footer .footer_center>dl>dd{
    line-height: 20px;
}
.footer .footer_center>dl>dd:hover a{
    color: red;
}


.footer .footer_copyright{
    float: left;
    list-style: none;
}
.footer .footer_copyright>li{
    float: left;
}
.footer .footer_copyright>li>a{
    padding: 10px;
    font-size: 10px;
}
.footer .footer_copyright>li:first-child a{
    padding-left: 0;
}
.footer .footer_copyright>li:hover a{
    color: #000;
}
.footer .footer_social{
    float: left;
    margin-left: 50px;
    list-style: none;
    margin-top: -10px;
    font-size: 20px;
}
.footer .footer_social>li{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.footer .footer_social>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-syb-all.png");
}
.footer .footer_social>li:nth-child(1) a{
    background-position: -246px 0;
}
.footer .footer_social>li:nth-child(2) a{
    background-position: -186px 0;
}
.footer .footer_social>li:nth-child(3) a{
    background-position: -126px 0;
}
.footer .footer_social>li:nth-child(4) a{
    background-position: -156px 0;
}
.footer .footer_info{
    float: left;
    font-size: 10px;
    line-height: 30px;
}